h1 {
	font-family: 'Russo One', sans-serif;
	font-weight: bold;
	font-size: 3.5rem;
	text-transform: uppercase;
	background-color: #2D3142;
	width: 100vw;
	text-align: center;
	color: white;
}
h2 {
	font-size: 3rem;
	text-align: center;
	color: white;
}
.container-fluid {
	font-family: 'Comfortaa', cursive;
	border-radius: 50px;
	padding: 20px;
	width: 30vw;
	background-color: rgba(60, 79, 118, .3);
}
#iconCode {
font-size: 7rem;	
}

#fTemp {
	font-size: 4.5rem;
	padding: 10px;
	margin: 15px;
	width: 13vw;
	background-color: rgba(60, 79, 118, .3);
}
#fTemp:hover {
	opacity: 0.6;
	filter: alpha(opacity=40);
}
p {
	font-size: 2rem;
	color: white;
}
body {
	height: 100vh;
	width: 100vw;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-color: #EF8354;
}